/* body {
    font-family: Arial, sans-serif; !---css----!
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #00807a;
}
p {
    color: #004080;
} */

div {
    width: 275px;
    padding: 15px;
    border: 3px solid red;
    margin: 30px auto; 
    background-color: #f4f4f4;
}
p {
    color: blue;
    font-size: 50px;
}